<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=UTF-8">
  <title>CarAttest generated!</title>
</head>
<body>
    CarAttest Generated!
    <%= Period %>
    <br />
    <%= Period.PolicyClaimAttestation_ID %>
    <%= Period.PolicyClaimAttestation_ID %>


</body>
</html>
